.a-section
  .a-content
    .a-article
      :markdown

        # Kernel Pattern Library

        *   Guidelines
        *   Core patterns
        *   [Defaults](/documentation/defaults.html)
        *   Modules
            *   Atoms
                *   [Article](/documentation/modules/atoms/article.html)
                *   [Button](/documentation/modules/atoms/button.html)
                *   [Content](/documentation/modules/atoms/content.html)
            *   Molecules
            *   Organisms
        *   Others
