%h1 This is the primary heading and there should only be one of these per page

%p
  A small paragraph to <em>emphasis</em> and show
  <strong>important</strong> bits.
%ul
  %li This is a list item
  %li So is this - there could be more
  %li
    Make sure to style list items to:
    %ul
      %li Not forgetting child list items
      %li Not forgetting child list items
      %li Not forgetting child list items
      %li Not forgetting child list items
  %li A couple more
  %li top level list items
%p
  Don't forget <strong>ordered lists</strong>
%ol
  %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  %li
    Aliquam tincidunt mauris eu risus.
    %ol
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aliquam tincidunt mauris eu risus.
  %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  %li
    Aliquam tincidunt mauris eu risus.

%h2 A sub heading which is not as important as the first, but is quite imporant overall

%p
  Pellentesque
  %a{href: "#"} habitant morbi
  tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
  tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
  %a{href: "#"} Donec eu libero
  sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
%table
  %tr
    %th Table Heading
    %th Table Heading
  %tr
    %td table data
    %td table data
  %tr
    %td table data
    %td table data
  %tr
    %td table data
    %td table data
  %tr
    %td table data
    %td table data

%h3 A sub heading which is not as important as the second, but should be used with consideration

%p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
%blockquote
  %p “Ooh - a blockquote! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.”

%h4 A sub heading which is not as important as the second, but should be used with consideration

%p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
%pre
  %code
    :preserve

      #header h1 a {
          display: block;
          width: 300px;
          height: 80px;
      }

%h5 A sub heading which is not as important as the second, but should be used with consideration

%p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
%dl
  %dt Definition list
  %dd
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.
  %dt Lorem ipsum dolor sit amet
  %dd
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.

%h6 This heading plays a relatively small bit part role, if you use it at all

%p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
