.a-section
  .a-content
    .a-article
      :markdown

        # TOC

        *   Guidelines
        *   Core patterns
        *   Defaults
            *   [Defaults](/defaults.html)
        *   Modules
            *   Atoms
                *   [Article](/article.html)
            *   Molecules
            *   Organisms
        *   Others
