.a-section
  .a-content
    .a-article
      :markdown

        # TOC

        *   Guidelines
        *   Core patterns
        *   [Defaults](/pages/defaults.html)
        *   Modules
            *   Atoms
                *   [Article](/pages/modules/atoms/article.html)
                *   [Button](/pages/modules/atoms/button.html)
                *   [Content](/pages/modules/atoms/content.html)
            *   Molecules
            *   Organisms
        *   Others
